
<div class="blog-post">

    <!-- Title -->
    <h2 class="blog-post-title">
        <%- item.title || item.link%>
    </h2>

    <!-- Date and Author -->
    <p class="blog-post-meta">
       
    </p>
    <%- partial('_partial/author',{item: item}) %>

  


   

    <!-- Content -->
    <%- item.content %>

    <hr />

    <!-- Tags and Categories links -->
    <%- partial('article-tags', {item: item}) %>
    <%- partial('article-categories', {item: item}) %>

</div>