
<div class="blog-post">

    <!-- Title -->
     <a href="<%- config.root %><%- item.path %>"   >
     <h3 class="blog-post-title">
       
            <%- item.title %>
       
    </h3>
    </a>

    <!-- Date and Author -->
    <p class="blog-post-meta">
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
        <br>
        <i><%= item.date.format(config.date_format) %></i>
    </p>

        



    <!-- Content -->
    <div class="blog-article-excerpt">
    <%- item.excerpt || item.content %>
    </div>
    <!-- Only display the Read More link if we are displaying an excerpt -->
    <% if(item.excerpt) { %>
        <p>
            <a href="<%- config.root %><%- item.path %>">
                <%= theme.excerpt_link %>
            </a>
        </p>
    <% } %>
</div>