
<head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="<%- page.title %>">
    <meta name="author" content="Gamemode 4">
    <link rel="icon" href="favicon/favicon.ico">
    
    <!--- Twitter Social Media Preview Card Data-->
    <meta property="twitter:domain" content="https://blog.gm4.co"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="<%- page.permalink %>"/>
    <meta property="twitter:title" content="Gamemode 4 Blog | <%- page.title %>"/>
    <meta property="twitter:description" content="<%- page.excerpt %>"/>
    <meta property="twitter:image" content="https://blog.gm4.co/images/Logo_NoBackground.png"/>

    <!--- Facebook Social Media Preview-->
    <meta property="og:title" content="Gamemode 4 Blog | <%- page.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- page.permalink %>" />
    <meta property="og:image" content="https://blog.gm4.co/images/Logo_NoBackground.png" />
    <meta property="og:description" content="<%- page.excerpt %>"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/ss2?family=Montserrat">
    
    <title><%- page.title %> | Gamemode 4 Blog</title>

    <!-- Bootstrap core CSS -->
    <%- css('bootstrap/css/bootstrap.min.css') %>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <%- css('css/ie10-viewport-bug-workaround.css') %>

    <!-- Custom styles for this template -->
    <%- css('css/blog.css') %>
    <%- css('css/header.css') %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>